/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
    Background: #086FA1
    Background elem: #3CA0D0
    Background table: 
    Links: #00733C    
*/

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    background-color: #086FA1;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: "Arial Verdana sans-serif";
    font-weight: 500;
}

header, section, aside, nav, footer {
    background-color: #3CA0D0;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    -webkit-border-raidus: 25px;
    padding: .3em;
}

header {
    text-align: center;
    margin: 1% 0.8%;
}

header h1 {
    padding-left: 1%;
    float: left;
}

footer {
    text-align: center;
    margin: 1% 1.5%;
}

section {
}

section.main-section {
    width: 80%;
    margin: 1% 1.6%;
    float: left;
}

section.index {
    width: 90%;
    margin: 0% 5%;
}

section.lost-pass-section {
    width: 80%;
    margin: 1% 10%;
}

aside.right-aside {
    width: 13%;
    margin: 1% 0%;
    float: left;
}

a {
    color: #00532C;
}

a:hover {
    color: #00733C;
}

nav ul{
    list-style-type: none;
}

nav.main-nav {
    width: 96.5%;
    margin: 0% 1.6%;
}

nav.main-nav ul {
    width: 100%;
}

nav.main-nav ul li {
    float: left;
    padding: 0% 4%;
    font-weight: bold;
}

nav.main-nav ul a {
}

nav.aside-nav {
    border-style: none;
}

nav.aside-nav ul {
    margin: 0%;
    padding: 0%;
}

nav.aside-nav ul li {
    width: 100%;
    padding: 2% 2%;
    font-size: 1.2em;
    text-align: left;
    font-weight: bold;
}

nav ul a {
    text-decoration: none;
    color: #000000;
    display: block;
}

img.header-img {
    padding-top: 0.6%;
    padding-left: 2.5%;
    float: left;
}

div.login-div {
    margin: 10% 25%;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    -webkit-border-raidus: 25px;
    background-color: #3CA0D0;
}

div.form-div {
    margin: 0% 0% 3% 0%;
}

div.content-div {
    padding: 0.1% 2%;
}

div.select-div {
    padding-top: 2%;
    text-align: center;
}

div.edit-button-div {
    margin: 1% 0%;
    text-align: center;
}

div.index-title {
    text-align: center;
}

div.content {
    text-align: justify;
    padding: 0% 3%;
}

div.links {
    font-size: 1.2em;
    display: block;
}

label {
    margin: 0% 2% 0% 0%;
    display: inline-block;
    width: 140px;
    text-align: right;
}

.pass-label{
    width: 200px;
}

[type=file] {
    padding: 0% 2%;
}

.login-button {
    margin: 0% 3%;
}

.submit-button {
    margin-left: 5.1%;
    margin-right: 1%
}

.submit-button#pass-submit {
    margin-left: 10%;
    padding: 0% 1%;
}

.load-button {
    margin-left: 7%;
}

.free-day-button {
    margin-left: 1%;
}

.free-day-button2 {
    margin-left: 5.5%;
}

.free-day-button3 {
    margin-left: 4.9%;
}

.erase-button {
    margin: 0% 43%;
}

.clear-div {
    clear: both;
}

.separate {
    padding: 3%;
}

body p.info-text {
    padding: 0% 10% 0% 3%;
    text-align: justify;
}

.form-checkbox {
    margin: 0% 1%;
}

div.table-div {
    margin: 2% 2%;
}

div.table-div#schedules-div, div.table-div#evals-div {
    margin: 2% 8%;
}

#schedules-table, #evals-table {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table#free-days-table {
    margin: 0% 30%;
    width: 40%;
}

table caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 2%;
}

table.roll-call-table {
    font-size: .8em;
}

table.roll-call-table caption {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 2%;
}

tr:nth-child(odd) {
    background-color: #539DC0;
}

tr:nth-child(even) {
    background-color: #63ADD0;
}

tr td:first-child, tr th:first-child{
    border-left: none;
}

tr td:last-child, tr th:last-child{
    border-right: none;
}

th {
    text-align: center;
    background-color: #63ADD0;
    border-bottom: 2px solid #000000;
}

th, td {
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
    padding: 0.3% 0%;
}

.name-cell {
    width: 30%;
}

.code-cell {
    width: 8%;
}

.roll-cell {
    width: 2%;
}

.checkbox-cell {
    text-align: center;
    width: 5%;
}

.checkbox-cell2 {
    text-align: center;
    width: 8%;
}

.roll-name-cell {
    padding: 0% 2%;
}

.date-cell {
    width: 70%;
    text-align: center;
}

.edit-cell {
    width: 8%;
    text-align: center;
}

/*320 x 480*/
@media screen and (min-width: 0px) and ( max-width: 320px) {
    header, section, aside, nav, footer {
        border: 2px solid #000000;
        border-radius: 0%;
        -moz-border-radius: 0%;
        -ms-border-radius: 0%;
        -o-border-radius: 0%;
        -webkit-border-raidus: 0%;
        padding: .3em;
    }
    
    header {
        display: none;
    }
    
    section.index {
        width: 85%;
        margin: 5% 5%;
    }
    
    section.lost-pass-section {
        margin: 8% 8%;
        padding: 0% 0% 0% 5%;
    }
    
    section.main-section {
        margin: 2% 2%;
        width: 90%;
        float: none;
    }
    
    aside.right-aside {
        width: 90%;
        margin: 2% 2%;
        float: none;
    }
    
    nav.main-nav {
        margin-top: 1%;
        width: 90%;
    }
    
    nav.main-nav ul {
        padding: 0%;
    }
    
    nav.aside-nav {
        width: 90%;
    }
    
    nav.aside-nav ul {
        padding: 0%;
    }
    
    nav.aside-nav ul li {
        width: 55%;
        padding: 1% 2% 0% 2%;
        font-size: 1em;
    }
    
    footer {
        display: none;
    }
    
    div.login-div {
        margin: 30% 5%;
        width: 90%;
    }
    
    label {
        width: 70%;
        text-align: left;
    }
    
    .login-button {
        display: block;
        margin: 0% 35% 3% 35%;
    }
    
    select {
        font-size: .8em;
    }
    
    form div.form-div {
        padding-left: 5%;
    }
    
    div.form-div h2 {
        margin: 0% 0% 0% 1%;
    }
    
    p.info-text {
        margin: 0% 1%;
    }
    
    table {
        font-size: .8em;
    }
    
    th.optional, td.optional {
        display: none;
    }
}

/* 480 x 320*/
@media screen and (min-width: 321px) and ( max-width: 480px) {
    header, section, aside, nav, footer {
        border: 2px solid #000000;
        border-radius: 0%;
        -moz-border-radius: 0%;
        -ms-border-radius: 0%;
        -o-border-radius: 0%;
        -webkit-border-raidus: 0%;
        padding: .3em;
    }
    
    header {
        display: none;
    }
    
    section.index {
        width: 90%;
        margin: 1% 5%;
        padding: 0%;
    }
    
    section.lost-pass-section {
        margin: 2.5% 8.5%;
        padding: 0% 5% 0% 2%;
    }
    
    section.lost-pass-section label{
        width: 85px;
        margin: 0% 0% 0% 10%;
    }
    
    section.main-section {
        margin: 2% 2%;
        width: 90%;
        float: none;
    }
    
    aside.right-aside {
        width: 90%;
        margin: 2% 2%;
        float: none;
    }
    
    nav.main-nav {
        margin-top: 1%;
        width: 90%;
    }
    
    nav.main-nav ul {
        padding: 0%;
    }
    
    nav.aside-nav {
        width: 90%;
    }
    
    nav.aside-nav ul {
        padding: 0%;
    }
    
    nav.aside-nav ul li {
        width: 40%;
        padding: 1% 2% 0% 2%;
        font-size: 1em;
    }
    
    footer {
        display: none;
    }
    
    div.links {
        font-size: 1em;
    }
    
    div.login-div {
        margin: 5% 10%;
    }
    
    form div.form-div label {
        margin: 0% 0% 0% 7.5%;
    }
    
    label {
        text-align: left;
    }
    
    .pass-label {
        width: 140px;
    }
    
    select {
        font-size: .8em;
    }
    
    .login-button {
        display: block;
        margin: 3% 35%;
    }
    
    table {
        font-size: .8em;
    }
    
    table.list-table .optional {
        display: none;
    }
    
    table.load-student-table .optional {
        display: none;
    }
    
    table.roll-call-table .optional {
        display: none;
    }
    
    table.teacher-table .optional {
        display: none;
    }
    
    table.students-table .optional {
        display: none;
    }
}

/*768 x 1024*/
@media screen and (min-width: 481px) and ( max-width: 768px) {
    header, section, aside, nav, footer {
        border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        -webkit-border-raidus: 25px;
        padding: .3em;
    }
    
    header {
    }
    
    img.header-img {
        display: none;
    }
    
    section.index {
        width: 90%;
        margin: 1% 5%;
    }
    
    section.main-section {
        width: 96%;
    }
    
    aside.right-aside {
        width: 95%;
        margin: 0% 2%;
    }
    
    nav.aside-nav ul {
        width: 100%;
    }
    
    nav.aside-nav ul li {
        width: auto;
        float: left;
        padding: 0% 4%;
        font-size: 1em;
    }
    
    footer {
    }
    
    div.links {
        font-size: 1.2em;
    }
    
    div.login-div {
        margin: 10% 24%;
    }
    
    label {
        float: left;
    }

}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
