<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Alumno - Contraseña</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="./Resources/css/normalize.css">
        <link rel="stylesheet" href="./Resources/css/main.css">
        <script src="./Resources/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <header>
            <img alt="udg.png" class="header-img" src="./Resources/img/logoUdg.png" width="50" height="68" />
            <h1>Universidad de Guadalajara - Calificaciones</h1>
            <div class="clear-div"></div>
        </header>
        
        <nav class="main-nav">
            <ul>
                <li>
                    <a href="./index.php?ctrl=default&action=main">Principal</a>
                </li>
                <li>
                    <a href="./index.php?ctrl=student&action=grade">Boleta</a>
                </li>
                <li>
                    <a href="./index.php?ctrl=default&action=exit">Salir</a>
                </li>
                <div class="clear-div"></div>
            </ul>
        </nav>
        
        <section class="main-section">
            <form name="studentPassCh" method="post" action="./index.php?ctrl=student&action=pass-ch">
                <div>
                    <fieldset>
                        <div class="form-div">
                            <h2><span class="separate">Cambiar contraseña</span></h2>
                            <p class="info-text">
                                *msg*
                            </p>
                        </div>
                        <div class="form-div">
                            <label class="pass-label" for="student-old-pass">
                                Vieja contraseña:
                            </label>
                            <input type="password" id="student-old-pass" name="student-old-pass" />
                        </div>
                        <div class="form-div">
                            <label class="pass-label" for="student-new-pass">
                                Nueva contraseña:
                            </label>
                            <input type="password" id="student-new-pass" name="student-new-pass" />
                        </div>
                        <div class="form-div">
                            <label class="pass-label" for="student-new-pass2">
                                Verificar contraseña:
                            </label>
                            <input type="password" id="student-new-pass2" name="student-new-pass2" />
                        </div>
                    </fieldset>
                </div>
                <div class="form-div">
                    <button class="submit-button" id="pass-submit" type="button">Aceptar</button>
                </div>
            </form>
        </section>
        
        <aside class="right-aside">
            <nav class="aside-nav">
                <ul>
                    <li>
                        <a href="./index.php?ctrl=student&action=data">Mis datos</a>
                    </li>
                    <li>
                        <a href="./index.php?ctrl=student&action=pass-ch">Contraseña</a>
                    </li>
                    <div class="clear-div"></div>
                </ul>
            </nav>
        </aside>
        <div class="clear-div"></div>
        
        <footer>
            <h4>Universidad de Guadalajara</h4>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="./Resources/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>
        <script>window.CryptoJS || document.write('<script src="./Resources/js/vendor/sha1.js"><\/script>')</script>
        <script src="./Resources/js/plugins.js"></script>
        <script src="./Resources/js/main.js"></script>
        <script src="./Resources/js/onload.js"></script>
        <script>
            window.onload = studentPassLoad;
        </script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
